# framework api
fastapi==0.103.2
uvicorn==0.23.2
python-multipart==0.0.6

# deep learning (CPU)
tensorflow-cpu==2.13.1

# dependencias numéricas compatibles con tf 2.13
numpy==1.24.3
pillow==10.2.0

# opencv sin GUI (para servidores)
opencv-python-headless==4.8.1.78

# matplotlib compatible con numpy 1.24.x
matplotlib==3.7.3
